<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>FSApp</title>
    {% load compress %}
    {% compress "css" %}
    <link href="/static/style.css" rel=stylesheet>
    {% endcompress %}
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700&amp;subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/regular.css" integrity="sha256-ov7Y+aBrHabDL86mFdmkWpURhe9jlNFi5LQraxNmO6w=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css" integrity="sha384-v2Tw72dyUXeU3y4aM2Y0tBJQkGfplr39mxZqlTBDUZAb9BGoC40+rdFCG0m10lXk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/fontawesome.css" integrity="sha384-q3jl8XQu1OpdLgGFvNRnPdj5VIlCvgsDQTQB6owSOHWlAurxul7f+JpUOVdAiJ5P" crossorigin="anonymous">

</head>
<body>
  <header>
    <a href="/" class=logo>FSApp</a>

    <a href="/search/">
      Search
    </a>


    <a href="/upload/">
      Upload file
    </a>

    {% if user.is_staff %}
    <a href="/queue/">
      Manage upload queue
    </a>
    {% endif %}

    <div class=spacer></div>

    {% if not user %}
    <a href="">Login</a>
    {% else %}
    <div>Logged in as {{ user.email }}</div>
    {% endif %}
  </header>
  <div id=content>
    {% block content %}{% endblock %}
  </div>
  {% compress "css" %}
  <script src="/static/script.js"></script>
  {% endcompress %}
</body>
